################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
E:\moje\studia Rafa³\semestr 6\techniki multimedialne\projekt\mój\DataExtraction - MVC5 z mailami\DataExtraction - MVC5\bin
DataExtraction - MVC5\bin
DataExtraction - MVC5 z mailami\DataExtraction - MVC5\bin
E:\moje\studia Rafa³\semestr 6\techniki multimedialne\projekt\mój\DataExtraction - MVC5 z mailami\DataExtraction - MVC5\obj
DataExtraction - MVC5\obj
DataExtraction - MVC5 z mailami\DataExtraction - MVC5\obj