[submodule "html-agility-pack"]
	path = html-agility-pack
	url = https://www.github.com/zzzprojects/html-agility-pack
[submodule "Ninject"]
	path = Ninject
	url = https://github.com/ninject/Ninject
[submodule "postal"]
	path = postal
	url = https://github.com/andrewdavey/postal
