@model DataExtraction___MVC5.Models.Views.MatchesViewModel

@{
    ViewBag.Title = "wyszukiwanie drużyny";
}

<h2>wyszukiwanie meczy drużyny</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <h4>wpisz nazwę drużyny</h4>

        <hr/>

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            <p class="control-label col-md-2">drużyna</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.QueryTeam, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.QueryTeam, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="wyszukaj" class="btn btn-default"/>
            </div>
        </div>

    </div>
}